.group{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 30%;
}

#footer{
    margin-top: 5%;
}

.img-group-footer{
    width: 10%;
    height: 10%;
}

.img-social-media{
    width: 20%;
    height: 20%;
}

